.item-list{
    padding: 400px 0 200px 0;
    margin-left: -15px;
    font-size: 100px;
    font-weight: 800;
    color:#F2F2F2;
    background-image: url(../../assets/banner.jpg);
    background-size: cover;
}

.item-ord{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 150px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.item{
    margin-top: 80px;
   
}

.item-detail{
    margin: 100px 60px 0 60px;
    display: flex;
}

.text-detail{
    margin-left: 40px;
}