.form-checkout{
    margin: 100px 50px 0 50px;
    h2{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        color: #333333;
    }
    .line-cart{
        height: 8px; 
        background-color: #333333; 
        width: 28vw; 
        margin-bottom: 50px;
        
    }
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    input{
        width: 50vw;
        height: 35px;
        margin-bottom: 20px;
        border-radius: 8px;
        border-color: #333333;
    }

    button{
        width: 50vw;
        height: 40px;
        font-size: 18px;
        border: none;
        background-color: #909d80;
        border-radius: 8px;
        cursor: pointer;

        
    }

    button:hover{
        background-color: #E2B07B;
    }
}

.finish-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 30vw;
    }
    p{
        margin: 10px 0 20px 0;
    }

    button{
        width: 30vw;
        height: 40px;
        font-size: 18px;
        border: none;
        background-color: #909d80;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        margin-bottom: 10vw;
    }
    button:hover{
        background-color: #E2B07B;
    }
}